.mainContainer{
    margin: 0 auto;
    width: 100%
}

.innerDiv{
    color: white;
    display: flex;
    flex-direction: row;
    padding-bottom:30px;
    margin: 0 auto;
}

.titleDesc{
    display: flex;
    flex-direction: column;
    width: 80%;
}

.imageDiv{
    width:10%;
    /* border: solid red; */
    margin-left: 200px;
    margin-right: 30px;
}

.image{
    width:80px;
    height:60px;
}

.joinButton{
    width: 90px;
    height: 40px;
    border-radius: 12px;
    color: white;
    background-color: #DA7F14;
    /* color: white; */
    font-size: 20px;
    text-align: center;
    font-family: Nunito,Arial,"Helvetica Neue",Helvetica,sans-serif;
    cursor: pointer;
}

.joinButtonDiv{
    width: 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* border: solid green; */
    margin-right: 200px;
    cursor: pointer;
}

.title{
    /* padding-left: 10px; */
    font-family: Nunito,Arial,"Helvetica Neue",Helvetica,sans-serif;
    /* border: solid white; */
}

.description{
    /* padding-left: 10px; */
    font-family: Nunito,Arial,"Helvetica Neue",Helvetica,sans-serif;
    /* border: solid pink; */
}

.editRoom{
    color:#DA7F14;;
    padding-left: 10px;
    cursor: pointer;
}

.titleDiv{
    display: flex;
    flex-direction: row;
}

.noRoom{
    font-family: Nunito,Arial,"Helvetica Neue",Helvetica,sans-serif;
    font-size: 23px;
    margin-left:200px;
}
