.mainNav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
    position: fixed;
    top:0;
    width: 100%;
    left:0;
    background-color:#1E1E1E;
    z-index: 1;
    position: fixed;
    
}


.navLink{
    text-decoration: none;
    color: white;
    margin-left: 40px;

    
    /* position: fixed; */
}

.loginButton{
    margin-right: 40px;
    margin-top: 5px;
    border: none;
}

.logoImage{
    width: 70px;
    height: 50px;
}

.linkDiv{
    display: flex;
    flex-direction: row;    
}

.linkedIcon{
    font-size: 40px;
    color:#DA7F14;
    padding-right: 10px;
    text-decoration: none;
    
    padding-top: 5px;
}

.gitHubIcon{
    font-size: 40px;
    color:#DA7F14;
    cursor: pointer;
    text-decoration: none;
    padding-right: 10px;
    padding-top: 5px;
}

.userName{
    font-size: 38px;
    color:#59AAB2;
    margin-top:5px;
    font-family: Nunito,Arial,"Helvetica Neue",Helvetica,sans-serif;
}