.mainDiv{
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    align-items: center;
    margin-top:5px;
}


.innerDiv{
    display: flex;
    flex-direction: row;
}

.emailDiv{
    font-family: Nunito,Arial,"Helvetica Neue",Helvetica,sans-serif;
}

.approve{
    color: #DA7F14;
    margin-left: 10px;
    margin-left: 10px;
    cursor: pointer;
}

.reject{
    color: #59AAB2;
    margin-right: 10px;
    margin-left: 10px;
    cursor: pointer;
}