.boardDiv{
    
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 5% 95% ;
    gap: 0;
    justify-content: center;
    align-items: center;
    /* border: solid white; */
    top:0;
    margin: 0 auto;
    padding: 0 auto;
    /* position: absolute; */    
}

.moveDescription{
    margin: 0 auto;
    padding: 0;
}


.boardImage{
    width: 50%;
    height: 50%;
}

.sendButton{
    width: 60px;
    margin-left: 5px;
    height: 40px;
    
    border-radius: 12px;
    background-color: #DA7F14;
    color: white;
    font-size: 20px;
    text-align: center;
    font-family: Nunito,Arial,"Helvetica Neue",Helvetica,sans-serif;
    cursor: pointer;
}

.playerInfo{
    font-family: Nunito,Arial,"Helvetica Neue",Helvetica,sans-serif;
    font-size: 32px;;
}

.mainDiv{
    display:grid;
    grid-template-columns: auto auto;
    gap: 10px;
    height:100%;
    width: 100%;;
    /* border: solid yellow; */
}

.gameWon{
    font-family: Nunito,Arial,"Helvetica Neue",Helvetica,sans-serif;
    font-size: 40px;

} 
.chatInput{
    width: 250px;
    height: 35px;
    border-radius: 12px;
}

.chatMessages{
    font-family: Nunito,Arial,"Helvetica Neue",Helvetica,sans-serif;
    margin-top:4px;
}

.mainContainer{
    /* border: solid red; */
    /* width:90%; */
    display: grid;
    margin: 0 auto;
    padding: 0 auto;
    display: grid;
    grid-template-columns:15% 60% 15% 10%;
    row-gap: 12px;
    column-gap: 32px;
}

.player1{
    font-size: 32px;  
    /* border: solid white; */
}

.player2{
    font-size: 32px;
    /* border:solid white; */
}

.rightDiv{
    /* border: solid red; */
    margin-top: 5px;
    position: relative;
    height:800px;
    overflow: hidden;
    
}
.sendField{
    position:absolute;
    bottom:0px;
    
}
.divider{
   
   /* border: solid px #DA7F14; */
   
}
.chatDiv{
    /* overflow-y: scroll; */
    max-height: calc(82vh - 60px);
    padding-right:10px;
    overflow-anchor: none;
    overflow-x: hidden;
    word-wrap: break-word;
    width:300px;
    scroll-padding-right: 0;
}

#anchor{
    overflow-anchor: auto;
    height: 1px;
}

.chatDiv::-webkit-scrollbar{
    width:1px;
}

.chatDiv::-webkit-scrollbar-trumb{
    background-color: var(--tertiary);
    border-radius: 2px;
}

.chatDiv::-webkit-scrollbar-track{
    background-color:white;

}

.styles.chatDiv{
    overflow-y: scroll;
    max-height: calc(90vh - 46px);
}

.handPointer{
    cursor: pointer;
    /* width: 200px; */
    height: 200px;
    margin-top:50px;
    margin-left: 10px; 
    text-align: center;
}
