.mainContainer{
    display: flex;
    flex-direction: row;
    /* border: solid yellow; */
    width: 100%;
    height: 100%;


}

.leftDiv{
    /* border: solid red; */
    width: 10%;
    float:left;
    height: 100%;
    position: fixed;
    overflow: auto;
    top:40px;
    left:0;
    background-color:#0C0D14;
    font-family: Nunito,Arial,"Helvetica Neue",Helvetica,sans-serif;
}

.rightDiv{
    /* border: solid green; */
    width: 15%;
    /* position:absolute; */
    position: fixed;
    overflow: auto;
    top:40px;
    
    right:0;
    height:100%;
   
    background-color:#0C0D14;
    font-family: Nunito,Arial,"Helvetica Neue",Helvetica,sans-serif;
}

.centerDiv{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height:100%;
    /* position: fixed; */
    margin-left: 20%;
    margin-right: 20%;
    margin-top:10%;
    /* border: solid white; */
    width: 80%;  
}

.publicRoom{
    text-decoration: none;
    color:white;    
}


.newRoom{
    text-decoration: none;
    color:white;    
}

.newRoomDiv{
    padding-bottom: 20px;
}

.homeDiv{
    padding-top: 20px;;
    padding-bottom: 20px;
}

.roomMembers{
    padding-top: 20px;
}

.yourRoomDiv{
    padding-top:20px;
}

.yourRoom{
    text-decoration: none;
    color:white;
}