.mainContainer{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.leftDiv{
    /* border: solid red; */
    width: 10%;
    float:left;
    height: 100%;
    position: fixed;
    overflow: auto;
    top:40px;
    left:0;
    background-color:#1E1E1E;
    font-family: Nunito,Arial,"Helvetica Neue",Helvetica,sans-serif;
}


.centerDiv{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height:100%;
    margin-left: 20%;
    margin-right: 20%;
    margin-top:10%;
    width: 90%;  
}

.publicRoom{
    text-decoration: none;
    color:white;    
}

.publicRoomDiv{
    padding: 40px;

}

.publicRoom.active{
    border-bottom: solid #DA7F14;
}

.newRoom{
    text-decoration: none;
    color:white;     
}



.newRoomDiv{
    /* padding-bottom: 20px; */
    padding: 40px;
}

.homeDiv{
    padding-top: 20px;;
    padding-bottom: 20px;
}

.roomMembers{
    padding-top: 20px;
}

.yourRoomDiv{
    padding:40px;
}

.yourRoom{
    text-decoration: none;
    color:white;
}
