.mainDiv{
    display:flex;
    flex-direction: row;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.button{
    width: 555px;
    height: 40px;
    border-radius: 12px;
    /* color: white; */
    background-color: #DA7F14;
    color: white;
    font-size: 20px;
    text-align: center;
    font-family: Nunito,Arial,"Helvetica Neue",Helvetica,sans-serif;
    cursor: pointer;
}
  
.input{
    width: 550px;
    height: 30px;
    
    border-radius: 12px;
}


.errorMessage{
    padding-left: 10px;
    padding-bottom: 5px;
    font-family: Nunito,Arial,"Helvetica Neue",Helvetica,sans-serif;
    padding-top:5px;
    color:red;   
    
}