.gameContainer{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    /* display: flex;
    flex-direction: row; */
    padding-top: 20px;
    margin-bottom: 10px;
}


.mainContainer{
    display: flex;
    flex-direction:  column;
 
    /* cursor: pointer; */
    /* transition: background 0.2s;
    background: transparent;
    cursor: pointer;
    border-radius: 4px; */
    /* box-shadow: 18px 18px 0 0 rgb(185, 184, 180), 18px 18px 0 4px black; */
  
}
/* 
.mainContainer:hover {
    background: rgba(255, 255, 255, 0.1);
  } */

.games{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    
}

.innerDiv{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 10px;
    background-color: #1E1E1E;
    border-radius: 20px;
    padding: 10px 10px 10px 10px;
    box-shadow: rgba(218, 127, 20, 0.2) 0px 7px 29px 0px;
    
 
}


.noRoom{
    display: flex;
    font-family: Nunito,Arial,"Helvetica Neue",Helvetica,sans-serif;
    margin-left: 10px;
    margin-top:10px;
}

.gameMode{
    font-size: 16px;  
    font-family: Nunito,Arial,"Helvetica Neue",Helvetica,sans-serif;
    padding-right: 20px;    
    width: 20%;
}

.gameName{
    font-size: 16px;  
    font-family: Nunito,Arial,"Helvetica Neue",Helvetica,sans-serif;
    padding-right: 20px;    
    width: 80%;
}

.gameStatus{
    font-size: 16px;  
    font-family: Nunito,Arial,"Helvetica Neue",Helvetica,sans-serif;
    padding-right: 20px;    
    width: 10%;
}

.icon{
    display: flex;
    flex-direction: row;
    /* justify-content: space-evenly; */
    column-gap: 20px;
    margin-top: 5px;
}
/* .buttonDiv{
    width: 20%;
} */

.joinButton{
    /* margin-left: 10px; */
    font-size: 16px;
    color: #da7f14;
    cursor: pointer;  
    /* width: 200px; */
    width: 20%;
}

.deleteButton{
    /* margin-left: 5px; */
    font-size: 16px;
    color: #DA7F14;
    cursor: pointer;  
}

.editButton{
    font-size: 16px;
    color: #DA7F14;
    cursor: pointer;
 
    
}
